<div [style.height]="innerHeight+'px'">
  <div class="content">

    <div class="contenu" [style.left]="-page*innerWidth+'px'">
      <img src="logo.png" class="logo" [@logoFadeIn]="logoState" />
    </div>

    <div class="contenu" [style.left]="-page*innerWidth+innerWidth+'px'">
      <div class="bloc">
        <p class="bold">LOCATION DE VANS AMENAGES AU DEPART DE PIANOTTOLI-CALDARELLO</p>
        <p>Situé à seulement <b>10 minutes de l’aéroport de Figari</b> et <b>30 minutes du port de Porto-Vecchio</b>,
          <b>MIZCAMPER</b> propose un service de navette pour vous offrir une expérience clé en main de la
          van life sur l’île de Beauté !</p>
        <p>Nous vous proposons des vans aménagés de différents gabarits avec plusieurs accessoires pour
            personnaliser au mieux vos vacances. La <b>Corse</b> est tellement riche par sa <b>culture</b> et ses
            <b>magnifiques paysages</b>. Avec <b>MIZCAMPER</b> vous pourrez la découvrir <b>à votre rythme</b> et sans
            pression, avec tout le confort nécessaire pour passer des vacances de rêve !</p>
        <button>Réserver</button>
      </div>
    </div>

    <div class="contenu" [style.left]="-page*innerWidth+2*innerWidth+'px'" >
      <div class="bloc" [style.top]="50*scroll+'px'">
        <p class="bold">UNE TOTALE IMMERSION DANS LES PLUS BEAUX PAYSAGES CORSES</p>
        <p>Qui n’a jamais rêvé de se réveiller le matin avec une <b>vue imprenable sur la mer</b> ? De profiter du
          grand air de la <b>montagne</b> ? Et de profiter de tout ça dans la même journée ? Avec la location de
          vans aménagés chez <b>MIZCAMPER</b> vous choisissez votre jardin pour la journée.</p>
        <p>Les vans étant <b>plus maniables</b> que les camping cars, vous aurez la possibilité de passer la nuit
          dans des <b>spots incroyables</b> !</p>
        <p>Nous vous laissons à bord du van un <b>carnet de route</b> avec des exemples d’itinéraires à
          emprunter, une liste des plus beaux spots à ne pas manquer, les meilleurs restaurants Corses, et
          les points de ravitaillement en eau, sans oublier le panier de bienvenue pour vous faire découvrir
          quelques saveurs de la région.</p>
        <div class="images">
          <img src="0.png" />
          <img src="1.png" />
          <img src="2.png" />
          <img src="3.png" />
          <img src="4.png" />
        </div>
      </div>
    </div>

    <div class="contenu" [style.left]="-page*innerWidth+3*innerWidth+'px'" >
      <div class="bloc" [style.top]="50*scroll+'px'">
        <p class="bold">NOS VANS AMENAGES</p>
        <p>Page en construction</p>
        <div class="images">
          <img src="a.png" />
          <img src="b.png" />
          <img src="c.png" />
          <img src="d.png" />
        </div>
      </div>
    </div>

    <div class="contenu" [style.left]="-page*innerWidth+4*innerWidth+'px'">
      <div class="bloc" [style.top]="50*scroll+'px'">
        <p class="bold">OPTIONS ET ACCESSOIRES</p>
        <p>Pour personnaliser au mieux votre aventure, nous vous proposons différents accessoires à rajouter.</p>
        <p class="bold">ENGENDRANT UN SUPPLEMENT</p>
        <p>- Draps (1 jeu) (10€)</p>
        <p>- Serviette de bain (x2) (10€)</p>
        <p>- Kit de plage (serviettes, masque, tuba, raquettes) (20€)</p>
        <p>- Siège enfant (20€)</p>
        <p>- Réhausseur (10€)</p>
        <p>- Triplette de pétanque (5€)</p>
        <p>- Paddle (30€)</p>
        <p>- Porte vélo (20€)</p>
        <p>- Dosettes pour toilettes chimiques (3€)</p>
        <p>- Bouteille de gaz (??)</p>
        <p>- Chaises de camping en plus (x2) (5€)</p>
        <p>- Nettoyage fin de séjour (40€)</p>
        <p>- Récupération des clients à l’aéroport de Figari (10€)</p>
        <p>- Récupération des clients au port de Porto-Vecchio (30 €)</p>
        <p class="bold">INCLUS SANS SUPPLEMENT</p>
        <p>- Matériel de camping (table et chaises)</p>
        <p>- Vaisselle</p>
        <p>- Cafetière</p>
        <p>- Jeu de dosettes pour WC chimiques</p>
        <p>- Bidon d’eau 30L</p>
        <p>- Carnet découverte de la corse / itinéraire</p>
        <p>- Panier de bienvenue</p>
      </div>
    </div>

    <div class="contenu" [style.left]="-page*innerWidth+5*innerWidth+'px'" >
      <div class="bloc">
        <p class="bold">QUI SOMMES-NOUS ?</p>
        <p>Laurine et Lucas, jeune couple vivant au sud de la Corse, passionnés par l’aventure de la van life
          et la nature; nous avons eu l’idée de vous transmettre cette passion en vous offrant une
          expérience unique et immersive au coeur des plus beaux paysages de Corse et sa culture très
          riche.</p>
        <img class="qui" src="qui.png" />
        <p class="bold">NOUS CONTACTER</p>
        <p>Mail : mizcamper&#64;gmail.com</p>
        <p>Téléphone : numéro de tel à venir</p>
        <p>Adresse : 189 Stritta di Buccaredda 20131 Pianottoli-Caldarello</p>
        <p>Instagram : &#64;miz.camper</p>
      </div>
    </div>

    <img [class.hidden]="page==0" class="toplogo" src="logo.png" />
    <img [class.disabled]="page==0" (click)="scroll=0;page=page-1" class="fleche flechegauche clickable" [@logoFadeIn]="logoState" src="fleche2.png"/>
    <img [class.disabled]="page==5" (click)="scroll=0;page=page+1" class="fleche flechedroite clickable" [@logoFadeIn]="logoState" src="fleche.png"/>
  </div>

  <div class="video-container">
    <video class="video"  loop autoplay [muted]="'muted'">
      <source src="vid0.mp4" type="video/mp4" />
    </video>
  </div>
</div>